/* .downloadApp__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */
.nav__button {
  background-color: var(--pink);
  color: #fff;
  width: 100px;
  height: 25px;
  border-radius: 5px;
}
@media (max-width: 519px) {
  .downloadApp__footer {
    display: none;
  }
}
