.downloadApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav__button {
  background-color: var(--main-color);
  color: #fff;
  width: 110px;
  height: 45px;
  border-radius: 15px;
  border-style: none;
}
@media (max-width: 519px) {
  .downloadApp__footer {
    display: none;
  }
  .downloadApp {
    align-items: unset;
    margin-top: 1rem;
  }
}
