.home-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.home-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  width: 100%;
}

.home-header__motto {
  text-align: center;
  flex-direction: column;
  flex: 1;
}
.home-header__title {
  margin: 0;
  color: var(--text);
}

.home-header__subtitle {
  padding-left: 15rem;
  margin: 1rem;
  color: var(--pink);
}

.homepage-main {
  display: flex;
  flex-direction: column;
  background-image: url(../../img/cover-opacity.jpg);
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.homepage-main__body {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: space-around;
}

.homepage-main__manual,
.homepage-main__calendar,
.homepage-main__questions {
  text-align: center;
}

/* prolink s podtržením  */
/* .navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text);
  display: block;
  margin-bottom: 2rem;
}
.userChoosed :hover {
  text-decoration: underline 1px;
}
.userChoosed {
  border: none;
} */
.bellis {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.bellis-info {
  font-size: 30px;
  color: white;
  background-color: var(--pink);
  border-radius: 50%;
  margin-left: 5rem;
}
.bellis-facebook {
  font-size: 30px;
  color: white;
  background-color: var(--pink);
  border-radius: 50%;
  margin-right: 5rem;
  text-decoration: none;
}

img.icon1,
img.icon2,
img.icon3 {
  border-radius: 50%;
  width: calc(100% / 3);
}

img.gender {
  height: 1rem;
  margin: 3px;
}
img.Bellis {
  width: 15rem;
}

/* toggleSwitch */
.theme-switch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
  align-content: flex-end;
  width: 30px;
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--pink);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #7a89c2;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.main__installButton {
  display: none;
}
.installButton {
  margin-right: 10px;
}
@media (max-width: 650px) {
  .home-page {
    background-color: #f9f9f9;
  }
  .homepage-main {
    background-image: none;
    background-color: #f9f9f9;
    flex-direction: column;
    margin-top: 1rem;
    height: 85vh;
    justify-content: flex-start;
  }

  .homepage-main__body {
    flex-direction: column;
  }

  .home-header__subtitle {
    padding-left: 0;
    font-size: small;
  }
  .home-header__title {
    font-size: 23px;
  }

  img.bellis {
    max-width: 30vw;
  }
  .bellis-facebook {
    margin-right: 0.5rem;
  }
  .bellis-info {
    margin-left: 0.5rem;
  }
  .main__installButton {
    display: inline;
  }
  .installButton {
    display: none;
  }
}
