.layout {
  display: flex;
  min-height: 100vh;
}

.layout-cover {
     min-height: 100vh;
     background-image: url(../../img/cover-opacity.jpg);
     background-size: cover;
}
/* .page-header {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.container {
} */

.logo {
  height: 5rem;
  padding-left: 1rem;
}

header {
  padding: 1rem 0 1rem 0;
  height: 6rem;
}

main {
  flex: 1;
}

/* .navigation {
  display: flex;
  align-items: baseline;
  align-content: space-between;
  justify-content: right;
  margin-top: 10rem;
} */

a {
  margin: 1rem;
  color: #373739;
  text-decoration: none;
  text-transform: uppercase;
}
