.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  border-right: 1px solid var(--text);
}

.container {
  display: flex;
  width: 200px;
  height: 100%;
}

header {
  padding: 1rem 0 1rem 0;
  height: 6rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: right;
}

.navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text);
  display: block;
  margin-bottom: 2rem;
}
.hamburger {
  display: none;
}
.hamburger--otevrene {
  display: none;
}
/* .installButton {
  display: flex;
  flex-direction: column;
  position: absolute;
} */
@media (max-width: 650px) {
  .page-header {
    flex-direction: row-reverse;
    border-right: none;
    border-bottom: 1px solid;
    min-height: 5rem;
    min-width: 100%;
    align-items: center;
    background-color: #f9f9f9;
  }
  /* .downloadApp__header {
    display: none;
  } */

  .navigation {
    display: none;
  }
  .navigation {
    flex-direction: row;
  }
  .navigation-link {
    display: flex;
    flex-grow: initial;
    background-color: var(--pink);
    font-size: 20px;
    color: white;
    gap: 0px;
  }
  .navigation-bar {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .navigation-bar > li {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--text);
    background-color: var(--pink);
    border-bottom: 1px solid white;
  }
  .hamburger {
    display: block;
    position: relative;
    border: none;
    background-color: transparent;
    align-items: center;
    font-size: 50px;
  }

  .hamburger span {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    height: 4px;
    background-color: currentColor;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
  }

  /* .hamburger span:nth-child(1) {
    transform: translateY(-250%);
  } */

  /* .hamburger span:nth-child(3) {
    transform: translateY(250%);
  }

  .hamburger--otevrene span:nth-child(2) {
    opacity: 0;
  }

  .hamburger--otevrene span:nth-child(1) {
    transform: rotate(45deg);
  }

  .hamburger--otevrene span:nth-child(3) {
    transform: rotate(-45deg);
  } */
}
