.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.container {
  display: flex;
  width: 200px;
  height: 100%;
}

header {
  padding: 1rem 0 1rem 0;
  height: 6rem;
}

/* .navigation {
  display: flex;
  align-items: baseline;
  align-content: space-between;
  position: absolute;
  justify-content: right;
  margin-top: 10rem;
} */

a {
  margin: 1rem;
  color: #373739;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  background-image: url('../../img/Blogo-transparent.png');
  background-size: contain;
  background-repeat: no-repeat;
}

