@import url(http://weloveiconfonts.com/api/?family=fontawesome);
  
.calendar-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}
 
.container1 {
  width: 510px;
  margin: auto;
}
 
/* ---------- CALENDAR ---------- */
 
.calendar {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
 
}
 
.calendar header {
  position: relative;
}
 
 
.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}
 
.calendar tbody {
  color: #ee2a7b;
}
 
.calendar tbody td:hover {
  border: 2px solid #ee2a7b;
}
 
.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 4rem;
  
}
 
.calendar .other-month {
  color: #cbd1d2;
}
 
.calendar .other-month:hover {
  border: 2px solid #cbd1d2;
}
 
.current-day {
  background: #ee2a7b;
  color: #f9f9f9;
}
 
.event {
  cursor: pointer;
  position: relative;
}
 
.event:after {
  background-color: #f9f9f9;
  border-radius: 50%;
  bottom: 0.5em;
  display: block;
  content: "";
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
}
 
.event.current-day:after {
  background: #f9f9f9;
}
 
.btn-prev,
.btn-next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}
 
.btn-prev:hover,
.btn-next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}
 
.btn-prev {
  left: 6em;
}
 
.btn-next {
  right: 6em;
}

.container2 {
  width: 510px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 2rem;
}