@import url(http://weloveiconfonts.com/api/?family=fontawesome);
  
.calendar-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}
 
.container1 {
  width: 510px;
  margin: auto;
}
 
/* ---------- CALENDAR ---------- */
 
.calendar {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
 
}
 
.calendar header {
  position: relative;
}
 
 
.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}
 
.calendar tbody {
  color: #ee2a7b;
}
 
.calendar tbody td:hover {
  border: 2px solid #ee2a7b;
}
 
.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 4rem;
  
}
 
.calendar .other-month {
  color: #cbd1d2;
}
 
.calendar .other-month:hover {
  border: 2px solid #cbd1d2;
}
 
.current-day {
  background: #ee2a7b;
  color: #f9f9f9;
}
 
.event {
  cursor: pointer;
  position: relative;
}
 
.event:after {
  background-color: #f9f9f9;
  border-radius: 50%;
  bottom: 0.5em;
  display: block;
  content: "";
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
}
 
.event.current-day:after {
  background: #f9f9f9;
}
 
.btn-prev,
.btn-next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}
 
.btn-prev:hover,
.btn-next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}
 
.btn-prev {
  left: 6em;
}
 
.btn-next {
  right: 6em;
}

.container-legend {
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 1rem;
}

.container-settings {
  max-width: 40rem;
  margin: 0 auto;
}

form {
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 5px; 
   margin: 1rem;
}

input,
select,
textarea {
  padding: 0.5rem;
}

label {
  cursor: pointer;
}

.btn-notice {
  border: 1px solid var(--pink);
  padding: 0.5rem 1rem;
  background-color: var(--pink);
  color: white;
  cursor: pointer;
  padding: 0.5rem;
}

.btn-notice:hover {
  background-color: var(--pink);
}

.btn-notice:active {
  transform: scale(0.9);
}

input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
  border: 1px solid gray;
}

.field input:not([type="radio"]):not([type="checkbox"]),
.field select,
.field textarea {
  width: 100%;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  accent-color: #263fba;
}

select {
  background-color: white;
}

textarea {
  font-family: 'Roboto', sans-serif;
  resize: vertical;
  min-height: 7em;
}

.check {
  margin: 1rem 2rem;
  display: block;
}

.check input[type="checkbox"] {
  margin-right: 0.5rem;
}

.controls {
  padding: 0.5rem 0;
  text-align: right;
}

.field {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: min(30vw, 9.5rem) 1fr;
  align-items: baseline;
  gap: 1em;
  text-align: right;
}

.options {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  padding: 0.5em 0;
}

