@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- CALENDAR ---------- */
.calendar-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  align-items: center;
}

.calendar-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

.calendar-container__body {
  width: 510px;
  margin: 0 4rem;
}

.container-legend {
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 1rem;
}
.container-settings__month {
  margin-top: 90px;
}

.container-settings__month,
.container-settings__year {
  max-width: 30rem;
}

.calendar {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding-bottom: 2rem;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  color: var(--main-color);
}

.calendar-prev,
.calendar-next {
  display: block;
  position: relative;
  border: none;
  background-color: transparent;
  align-items: center;
  font-size: 50px;
  color: var(--main-color);
}

.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}

.calendar tbody {
  color: var(--pink);
}

.calendar tbody td:hover {
  border: 2px solid var(--pink);
  display: inline-block;
}

.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
}

.calendar .other-month {
  color: #cbd1d2;
}

.calendar .other-month:hover {
  border: 2px solid #cbd1d2;
}

.current-day {
  background: var(--background-secondary);
}

.month-noticeDay {
  background: var(--pink);
  color: #f9f9f9;
}

.year-noticeDay {
  background: var(--blue);
  color: #f9f9f9;
}

.event {
  cursor: pointer;
  position: relative;
}

.event:after {
  background-color: #f9f9f9;
  border-radius: 50%;
  bottom: 0.5em;
  display: block;
  content: '';
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
}

.event.current-day:after {
  background: #f9f9f9;
}

.btn-prev,
.btn-next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}

.btn-prev {
  left: 6em;
}

.btn-next {
  right: 6em;
}

/*-----------------Form------------ */

form {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin: 1rem;
}

input,
select,
textarea {
  padding: 0.5rem;
}

label {
  cursor: pointer;
}

.form-title {
  margin-top: 0;
}

.form-title__legend {
  margin-top: 0;
  margin-bottom: 5px;
}

.btn-notice {
  border: 1px solid var(--pink);
  padding: 0.5rem 1rem;
  background-color: var(--pink);
  color: white;
  cursor: pointer;
  padding: 0.5rem;
}

.btn-notice:hover {
  background-color: var(--pink);
}

.btn-notice:disabled {
  border: 1px solid gray;
  background-color: white;
  color: gray;
}

.btn-notice:active:not(:disabled) {
  transform: scale(0.9);
}

input:not([type='radio']):not([type='checkbox']),
select,
textarea {
  border: 1px solid gray;
}

.field input:not([type='radio']):not([type='checkbox']),
.field select,
.field textarea {
  width: 100%;
}

select {
  background-color: white;
}

textarea {
  font-family: 'Quicksand', sans-serif;
  resize: vertical;
  min-height: 7em;
}

.check {
  margin: 1rem 2rem;
  display: block;
}

.check input[type='checkbox'] {
  margin-right: 0.5rem;
}

.controls {
  padding: 0.5rem 0;
  text-align: right;
}

.field {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: min(30vw, 9.5rem) 1fr 2.5rem;
  align-items: baseline;
  gap: 0.5em;
  text-align: right;
}

.options {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  padding: 0.5em 0;
}

.container-legend__month {
  background-color: var(--pink);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 1rem;
}

.container-legend__year {
  background-color: var(--blue);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 1150px) {
  .calendar-container {
    display: flex;
    flex-direction: column;
    margin: unset;
    align-items: unset;
  }
  .container-settings__month,
  .container-settings__year {
    max-width: 510px;
    margin: 1rem 0 0 4rem;
  }
    form {
    margin: 0;
  }
}

@media (max-width: 650px) {
  .calendar-container__body {
    width: 100vw;
    margin: auto;
  }

  .container-settings__month,
  .container-settings__year {
    max-width: 100vw;
    margin: 1rem 0 0 0;
  }
}
