/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  font-style: normal;
  font-size: large;
  cursor: pointer;
  padding: 30px;
  margin: 2px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active,
.accordion:hover {
  background-color: var(--cream);
}
.accordion.active {
  margin: 0px;
  border-radius: 5px 5px 0px 0px;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: var(--cream);
  display: none;
  overflow: hidden;
}
.panel.active {
  display: block;
  border-radius: 0px 0px 5px 5px;
  margin: 0px;
  margin-bottom: 4px;
}

.questions {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: auto;
}

li {
  list-style-type: none;
}

.questions a {
  text-decoration: none;
  color: var(--text);
}
