.manual__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  margin-top: 150px;
}
.manual__ifSomethingWrong__images {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.manual__ifSomethingWrong {
  height: 70px;
  width: 150px;
  margin: 0px;
  gap: 0;
}
.manual__title {
  font-size: 30px;
  color: #ee2a7b;
}
.manual__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 400px;
  background-color: white;
  margin-top: 60px;
}
.manual__text {
  font-size: 17px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

@media (max-width: 650px) {
  .manual__image {
    min-width: 100px;
  }
  .manual__container {
    flex-direction: column;
    margin-top: auto;
  }
  .manual__ifSomethingWrong__images {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1150px) {
  .manual__image {
    max-width: 450px;
    max-height: 300px;
  }
  .manual__carousel {
    max-width: 450px;
  }
  .manual__container {
    flex-direction: column;
  }
  .manual__ifSomethingWrong__images {
    display: flex;
    flex-direction: row;
  }
  .manual__text {
    font-size: 17px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
  }
}
