.carousel {
  display: flex;
  max-width: 570px;
  height: 470px;
  background-color: white;
  margin: auto;
}

.carousel__previous,
.carousel__next {
  flex-shrink: 0;
  background-color: white;
  border: none;
  width: 40px;
}

.carousel__media {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 400px;
  background-color: white;
  padding-top: 20px;
}
.carousel__images {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.carousel__image {
  width: 350px;
  height: 220px;
  object-fit: cover;
}
.carousel__number {
  height: 220px;
}
.carousel__title {
  font-size: 35px;
  color: #ee2a7b;
}
.carousel__text__content {
  margin: 5px 5px 5px 5px;
  text-align: center;
}
.carousel__text {
  text-align: justify;
  margin: 5px 10px 5px 10px;
}
