.carousel {
  display: flex;
  max-width: 500px;
  height: 475px;
  background-color: white;
  margin: auto;
}

.carousel__previous,
.carousel__next {
  flex-shrink: 0;
  background-color: white;
  border: none;
  width: 40px;
  font-size: 35px;
}

.carousel__media {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 400px;
  background-color: white;
}
.carousel__images {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  gap: 5px;
}

.carousel__image {
  width: 280px;
  height: 150px;
  object-fit: cover;
  margin-left: 60px;
}

.carousel__title {
  font-size: 35px;
  color: var(--main-color);
}
.carousel__text__content {
  /* margin: 0px 5px 5px 5px; */
  text-align: center;
}
.carousel__text {
  text-align: justify;
  margin: 5px 10px 5px 10px;
}

@media (max-width: 650px) {
  .carousel {
    max-width: 90vw;
    margin: 0;
    max-height: 500px;
  }
  .carousel__images {
    max-width: 90vw;
    justify-content: center;
  }
  .carousel__image {
    width: 210px;
    height: 120px;
    object-fit: cover;
  }
}
