.bellis__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--background-primary);
  color: #373739;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  display: flex;
  align-items: baseline;
  justify-content: center;
}


@media (max-width: 650px) {
  .copyright {
    display: none;
  }
}
