
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


/* CSS VARIABLES */

:root {
  --background-primary: #f3f3f3;
  --background-secondary: #f9cdbd50;
  --main-color: #ee2a7b;
  --text: #373739;

  --pink: #ee2a7b;
  --grey: #373739;
  --cream: #f9cdbd;
}

:root[data-theme='men'] {
  --background-primary: #132221;
  --background-secondary: #535257;
  --main-color: #535257
  --text: #373739;
}

html {
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: #efefef;
}

h1 {
  text-align: center;
  color: var(--pink)
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.25em 0;
}
 
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0.33em 0;
}